dflmngr-webservices/src/main/resources/wsdl/DflMngrWebservices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dfl.net/dflMngrWebservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="dflMngrWebservices" targetNamespace="http://www.dfl.net/dflMngrWebservices/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.dfl.net/dflMngrWebservices/">
        <xsd:include schemaLocation="../xsd/LoadSelectionsOperation.xsd"/>
        <xsd:include schemaLocation="../xsd/ScheduleJobOperation.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoadSelectionsRequest">
    <wsdl:part element="tns:LoadSelectionsRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="LoadSelectionsResponse">
    <wsdl:part element="tns:LoadSelectionsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ScheduleJobRequest">
    <wsdl:part element="tns:ScheduleJobRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ScheduleJobResponse">
    <wsdl:part element="tns:ScheduleJobResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="DflMngrWebservices">
    <wsdl:operation name="loadSelections">
      <wsdl:input message="tns:LoadSelectionsRequest"/>
      <wsdl:output message="tns:LoadSelectionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ScheduleJob">
      <wsdl:input message="tns:ScheduleJobRequest"/>
      <wsdl:output message="tns:ScheduleJobResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DflMngrWebservicesEndpointSoapBinding" type="tns:DflMngrWebservices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="loadSelections">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleJob">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DflMngrWebservicesEndpoint">
    <wsdl:port binding="tns:DflMngrWebservicesEndpointSoapBinding" name="DflMngrWebservicesPort">
      <soap:address location="http://localhost:8080/dflmngr/services/webservices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
